@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  padding: 0px 75px;
  transition: ease-out .5s;
  height: 45px;
  font-size: 20px;
  background-color: #ffffff;
}

header {
  padding: 0px 75px;
  transition: ease-out .5s;
  height: 45px;
  font-size: 20px;
  background-color: #ffffff;
}

.transitioning-exit {
  animation-name: slide-exit;
  animation-duration: .5s;
  overflow: hidden;
  transform: translateX(0%);
  transition-timing-function: ease-in;
  opacity: 0;
}

@keyframes slide-exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(15%);
  }
}

.transitioning-enter {
  opacity: 1;
  animation-name: slide-enter;
  animation-duration: 2s;
  overflow: hidden;
}

@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.body-block {
  height: calc(100vh - 45px);
  width: 100%;
  padding: 0 45px
}

.bar {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width:50px;
  position: fixed;
  border: 0 none;
  margin: 0;
  padding: 0;
  transition: ease-out .5s;
}

.bar-left {
  left: 0;
}

.bar-right {
  right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 0px 15px;
    background-color: #6793AC;
  }

  footer {
    visibility: hidden;
  }

  .bar {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width:0px;
    position: fixed;
    border: 0 none;
    margin: 0;
    padding: 0;
  }
  
  .bar-left {
    left: 0;
  }
  
  .bar-right {
    right: 0;
  }
}

/* tailwind styles */

/* .app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
} */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
